/* Global Styling */

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


h2 {
    font-size: 1.125rem;
    margin: 20px 0;
}

h3 {
    font-size: 1.25rem;
    margin-left: 20px;
}

p {
    font-size: 1rem;
}

#claro.index, #oscuro.index {
    font-size: 5.5rem;
}

.text {
    margin-left: 20px;
    font-size: 1em;
    width: 100%;
}

/* Header */

header#landing-page {
    padding-left: 2%;
    padding-right: 0;
}

img#logo-titre-header {
    width: 35%;
    height: auto;
}

#cta {
    padding-right: 0px;
    width: 120%;
}

a#cta {
    font-size: 1rem;
}

a.dropbtn {
    display: none;
}

i.fa-bars {
    display: block;
    position: relative;
    right: 5%;
    margin-left: 12%;
    color: white;
}

/* Carousel */

#carousel .container #mobile-foto {
    display: block;
}

#carousel .container #desktop-foto {
    display: none;
}

/* Envíos */

#envios {
    height: 100%;
}

#envios-img {
    height: 250px;
    width: auto;
    margin-right: 10px;
}

#envios .container {
    padding-top: 5%;
    margin-bottom: 10%;
}

#envios .container p {
    width: 100%;
}

#svg-desktop {
    display: none;
}

#svg-mobile {
    display: block;
    position: absolute;
    top: 85vh;
    right: 0;
    width: 100%;
    z-index: -1;
}

/* Algunos de nuestros productos */

#algunos {
    padding-top: 30px;
    padding-bottom: 30px;
}

#algunos .text {
    margin-left: 0px;
    width: 280px;
}

.more {
    display: none;
}

.item-list {
    margin: 30px 10px;
    width: 90vw;
    overflow-x: scroll;
}

.item {
    padding: 10px;
    width: 130px;
    height: 180px;
}

h5.precio {
    font-size: 0.875em;
}

h5.nombre {
    font-size: 1em;
    padding-bottom: 3px;
}

ul.talles {
    font-size: 0.75em;
    padding-bottom: 5px;
    padding-top: 8px;
}

/* Contacto */

#contacto {
    background-color: white;
}

#contacto .container {
    display: block;
    padding-bottom: 0px;
}

#contacto .container p {
    width: 140%;
}

#wp-main {
    width: 100%;
    margin-top: 10%;
    margin-left: 20px;
    margin-bottom: 15px;
    padding: 0 1%;
}

#redes {
    width: 100vw;
    background-color: #EEEDF2;
    padding-bottom: 10px;
}

.icon {
    width: 35px;
    height: auto;
    padding: 5px 0;
}

#telefono.name {
    margin-left: 0;
}

.name {
    font-size: 1.5rem;
}

.profile {
    width: 60%;
    margin-top: 20px;
    margin-left: 5%;
}

#sm-name {
    font-size: 1.125em;
    margin-left: 0;
}

h3#follow {
    padding-top: 10px;
}

/* Pagos */

img#cash {
    width: 170px;
    margin-right: 0px;
    position: relative;
    right: -25px;
}

#pagos {
    height: 50%;
}

#pagos .container {
    height: 100%;
    padding-bottom: 10%;
    width: 100vw;
    overflow-x: hidden;
}

#pagos .container p {
    width: 100%;
}

/* Footer */

footer .container {
    display: block;
}

.item-list {
    margin-left: 20px;
}

.catalogo-footer li a {
    font-size: 16px;
}

footer .catalogo-footer li {
    padding-top: 0px;
}

footer h3 {
    margin-left: 0;
}

footer div {
    padding-bottom: 5%;
}

footer .contacto-footer .name {
    display: none;
}

.contacto-footer {
    display: flex;
    align-items: center;
    border-top: solid 2px;
    border-bottom: solid 2px;
    padding-top: 8%;
    margin-bottom: 5%;
}

.footer-redes {
    width: 10%;
    margin-left: 5%;
}

#wp-footer {
    margin-left: 0;
    font-size: 16px;
    border-radius: 20px;
    padding: 1% 3%;
}

/* Catalogo */

header .catalogo-header {
    padding-left: 2%;
    padding-right: 0;
}

#cta-catalogo {
    font-size: 1rem;
    width: 90px;
    padding-right: 0px;
    margin-right: 2%;
}

button#talles-button {
    display: none;
}

.talles-container {
    width: 35px;
    height: 35px;
    padding: 2%;
    background-color: red;
    border-radius: 100%;
    position: fixed;
    bottom: 5%;
    right: 10%;
}

i#talles-button2 {
    color: white;
    font-size: 1.75em;
    padding: 0px;
    padding-right: 2px;
    padding-bottom: 5px;
}

.item-list-catalogo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
    column-gap: 5%;
}

.item-list-catalogo {
    margin: 15px 20px;
}

.item {
    padding: 10px;
    width: 85%;
    height: 88%;
}

h4.precio {
    font-size: 0.875em;
}

h4.nombre {
    font-size: 1em;
    padding-bottom: 3px;
}

ul.talles {
    font-size: 0.75em;
    padding-bottom: 5px;
    padding-top: 8px;
}

.tipo {
    margin-left: 0;
}

.tipo h3 {
    font-size: 36px;
}

#talles-table {
    width: 80%;
    left: 8%;
}

table, tbody {
    width: 80%;
}


.fa-shoe-prints {
    display: block;
}

.table-container {
    overflow-x: scroll;
}

/* Menu */

#menu-content {
    background-color: red;
    height: 100vh;
    display: none;
}

#menu-content div {
    color: white;
}

.menu-nav {
width: 95%;
margin-bottom: 5%;
}

#menu-content i {
    color: white;
}

a.menu-dropbtn {
    font-size: 24px;
    margin-right: 5%;
    font-weight: bold;
}

#menu-dropdown-content {
    position: relative;
    border-radius: 0px;
    margin-bottom: 5%;
}

#menu-dropdown-content a{
    font-size: 20px;
    background-color: rgb(220, 0, 0);
    border-radius: 0px;
    width: 100%;
    padding-left: 10%;
    border-collapse: collapse;
    border: .5px solid rgb(220, 0, 0);
}

.dropdown {
    width: 100%;
}

.catalogo-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 5%;
}